* { margin:0; padding:0; }
html, body
{
	width:100%; height:100%;
    position: fixed;
    font: 1em Verdana, Geneva, sans-serif;
}

canvas
{
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display:block;
    -ms-touch-action: none;
}
@font-face
{
	font-family: Righteous-Regular;
	src: url(Righteous-Regular.ttf) format('truetype');
}
body {
    background-color: #201020;
}

#igx_share_container
{
	display: block;
	visibility: hidden;
	width:70%;
	height:50%;
	top:10%;
	left:15%;
	position: absolute;
	background-color: rgb(255, 255, 255);
	text-align: center;
	font-size: 2em;
	font-family: Arial;
	border-radius: 25px;
	border:2px solid black;
}

#igx_name_text
{
	color: black;
}