
body, html {
    width: 100%;
    height: 100%;
}


body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #0F1E20;
    background-color: #002D5A;
    overflow: hidden;
    position: relative;
}

@-ms-viewport {
    width: 100%
}



noscript {
    background: red;
}


#content {
    image-rendering: -moz-crisp-edges;
    -webkit-interpolation-mode: nearest-neighbor;
    -ms-interpolation-mode: nearest-neighbor;
    -ms-touch-action: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden;
    background-color: #002D5A;
    z-index: 100;
}


/*#orientation {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/play_landscape.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 0, 0);
    background-size: 100%;
    z-index: 999;
    display: none;
}*/


loader {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #002D5A;
    z-index: 9999;
}

 .bg {
        z-index: 9998;
    }

 .logo {
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }



.bg-modal {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#header {
    position: absolute;
    width: 100%;
    /*background: #d35400;*/
    left: 0;
    top: 0;
}


    #header h2 {
        padding-left: 0px;
    }


.modal-contents {
    height: 200px;
    width: 500px;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 4px;
}

.form {
    margin-top: 65px;
}


input {
    font-size: 18px;
    padding: 5px 10px 10px 0px;
    margin-right: 10px;
    display: block;
    /*width: 300px;*/
    border: none;
    border-bottom: 1px solid #757575;
    min-width: 100%;
}

    input:focus {
        outline: none;
    }


.buttons {
    margin-top: 40px;
    float: right;
}

.material-button-raised {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 8px;
    border: none;
    border-radius: 2px;
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: #fff;
    background-color: #2196f3;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.red {
    background-color: #FD7EAA;
}

.material-button-raised:hover,
.material-button-raised:focus {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.material-button-raised:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.material-button-raised:disabled {
    color: rgba(0, 0, 0, 0.38);
    background-color: rgba(0, 0, 0, 0.12);
    box-shadow: none;
    cursor: initial;
}

.material-button-raised::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.2s;
}

.material-button-raised:hover::before {
    opacity: 0.12;
}

.material-button-raised:focus::before {
    opacity: 0.2;
}

.material-button-raised:active::before {
    opacity: 0.32;
}

.material-button-raised:disabled::before {
    opacity: 0;
}

.material-button-raised::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 18px;
    border-radius: 50%;
    padding: 50%;
    width: 32px;
    height: 32px;
    background-color: currentColor;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

.material-button-raised:active::after {
    opacity: 0.4;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

.material-button-raised:disabled::after {
    opacity: 0;
}


.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    color: #333;
    transform: rotate(45deg);
    cursor: pointer;
}

:hover {
    color: #666;
}
